{% extends 'base.html' %} 
{% block content%}
{% from '_formHelper.html' import render_field with context %}

<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Log in to Ur_API!</h3>
      <div class="card-text">
        <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
        <form method="POST" action="/login">
          <!-- to error: add class "has-danger" -->
          {{form.csrf_token}}
          {{render_field(form.email_id,cls="form-control form-control-sm",errcls='is-invalid',placeholder='User EmailId')}}

          <div class="form-group">
            <label for="password">Password</label>
            <a href="#" style="float: right; font-size: 12px;">Forgot password?</a>
            <input type="password" class="form-control form-control-sm" id="password" name="password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Sign in
          </button>

          <div class="sign-up">
            Don't have an account? <a href="#">Create One</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}